.dropdown {
    width: 45%;
   
   
    display: inline-block;
   
  }
  
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    background-color: #FF6060;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown-header p {
    margin: 0;
    color: white;
    font-weight: bold;
  }
  
  .dropdown-header svg {
    transition: transform 0.2s ease;
  }
  
  .dropdown-header:hover {
   opacity: 0.8;
  }
  .dropdown-header svg.open {
    transform: rotate(180deg);
  }
 
  

  .dropdown-content {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: fit-content;
    background-color: #F7F7F7;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FF6060;
    gap: 5px;
    margin: 0;
  }

  
  .dropdown-content span {
   
  list-style: none;
  padding: 4px 4px;
  margin-left: 10px;
  margin-bottom: 4px;
    padding: 2px;
  
    transition: background-color 0.2s ease;
  }
  

  
  .dropdown-content p {
    padding: 20px;
    margin: 0;
  }


  @media screen and (max-width: 450px) {
    .dropdown {
      margin-top: 10px;
      width: 350px;
      /* position: relative; */
      display: inline-block;
     
    }
    
  }
  
  