.about-dropdowns{
  min-height: 450px;
    margin: 30px 0;
    display: flex;
   
    align-items: center;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.about-container .banner img {
    filter: brightness(0.7);
    margin: 30px 0;
    
  } 


  @media screen and (max-width: 450px) {
    .about-container .banner img{
     
    height: 150px;
    
    
    }
  

}
