.home-container{
   
    height: 100%;

    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container{
position: relative;
width: 100%;
}


.home-container .banner img {
    height: 250px;
    filter: brightness(0.7);
    object-fit: cover;
   
  } 



ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 0;

    margin: 30px 0;
    padding: 0;

}
.banner-text {
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 60px;
    font-weight: 700;
    color: white; 
  }


@media screen and (max-width: 450px) {
    .home-container .banner img{
     
    height: 150px;
    
    
    }
    .banner-text {
        position: absolute;
        top: 45%;
        left: 20%;
        font-size: 16px;
        font-weight: 700;
        color: white; 
      }
    
  

}
