.carousel {
    position: relative;
  }
  .carousel img {
    object-fit: cover;
  }

.previous{
    transform: rotate(270deg);
    fill: black;

}
.next{
    transform: rotate(90deg);
    fill: black;

}

.carousel .previous,
.carousel .next {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 14px;
  fill: #FF6060;
  cursor: pointer;
}


.carousel .previous {
    left: 0;
  }
  
  .carousel .next {
    right: 0;
  }

.hide{display: none;}



@media screen and (max-width: 450px) {

}
