.error-container{
    height:600px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.error-container .error{
     font-size: 288px;
     font-weight: 700;
     color: #FF6060;
}
.error-container .oups{
    font-size: 36px;
    color: #FF6060;
}

.error-container .return{
    font-size: 18px;
    color: #FF6060;
}




@media screen and (max-width: 450px) {
    .error-container .error{
        font-size: 120px;
        font-weight: 700;
        color: #FF6060;
   }
 
}