.fiche-info{
    display: flex;
    justify-content: space-between;
}
.fiche-info-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fiche-info-right-top{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.fiche-info-right-top img{
    border-radius: 100px;

}
.fiche-info-left{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fiche-info-left h1,
.fiche-info-left .location,
.fiche-info-right-top .hostname{
 color:#FF6060 ;
}

.hostname{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
   }




   @media screen and (max-width: 450px) {

    .hostname{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 700;
       }

       .fiche-info{
   
      flex-direction: column;
    }

    .fiche-info-right{

       flex-direction: row-reverse;
        justify-content: space-between;
        align-items: end;
    }

    .fiche-info-right-top img{
       height: 70px;
    
    }
  
  }

