.banner{

    width: 100%;
border-radius: 25px;


}
.banner>img{
  height: 250px;
   
  width: 100%;
  object-fit: cover;



border-radius: 25px;


}



  @media screen and (max-width: 450px) {
    .banner{
     
    height: 150px;
    
    
    }
  

}




